@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --text-text-base: hsl(350, 15%, 8%);
    --lightmode-input-base: hsl(0, 0%, 52%);    
    --lightmode-background:hsl(0, 0%, 98%);
  }
  .Dark-mode{
    --text-text-base: hsl(0, 0%, 100%);
    --lightmode-input-base: hsl(209, 23%, 22%);    
    --lightmode-background:hsl(207, 26%, 17%);
  }
}

@media (min-width: 1024px){

  .grids{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

}
@media (min-width: 370px){
  .iphone-SE{
    height:100%;
  }
}